// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";
@import "mdb/mdb";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

html,
body,
header,
.intro-4 {
 height: 100%;
}
@media (max-width: 450px) {
  html,
  body,
  header,
  .intro-4 {
    height: 700px;
  }
}
@media (min-width: 451px) and (max-width: 740px) {
  html,
  body,
  header,
  .intro-4 {
    height: 500px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .intro-4 {
    height: 550px;
  }
}
